.main_padding
  %table.table
    %thead
      %tr
        %th Lesson Name
        %th Video
    %tbody
      - @lessons.each do |l|
        %tr
          %td= l.name
          %td
            - if l.video.present?
              = video_tag(url_for(l.video), controls: true, class: "img-fluid", size: "300x200")

= link_to 'New lessons', new_course_lesson_path, class: 'btn btn-success'