.container
  .row
    .col-2
    .col
      %h1.main_padding.font_size.form-padding New course
      = render 'form'
      = link_to 'Back', courses_path, class: 'form-padding'


/ <div class="container">
/   <div class="row">
/     <div class="col-3">
/     </div>
/     <div class="col">
/       %h1.main_padding New course
/ 		= render 'form'
/ 		= link_to 'Back', courses_path
/     </div>
/   </div>
/  </div>